@CHARSET "UTF-8";
body{
	font-size:20px;
	color: blue;
	background-image: url(/img/systembg1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
a:link{
	color:blue;
	font-style:intalic;
	font-size:15px;
}
a:visited{
	color: gray;
	font-style:normal;
	decoration:none;
}
a:hover{
	color:red;	
}