<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>firstServlet</servlet-name>
		<servlet-class>com.xk.FirstServlet</servlet-class>
		<!-- <load-on-startup>0</load-on-startup> -->
		<init-param>
		<param-name>author</param-name>
		<param-value>xk</param-value>
		</init-param>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<error-page>
		<!-- 方式一 -->
		<!-- <error-code>500</error-code> -->
		<!-- 方式二 -->
		<exception-type></exception-type>
		<location>/error.html</location>
	</error-page>
	<servlet>
		<servlet-name>testWebApps</servlet-name>
		<servlet-class>com.xk.utils.TestWebApps</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testWebApps</servlet-name>
		<url-pattern>/contents</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addCookie</servlet-name>
		<servlet-class>com.xk.AddCookieSL</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCookie</servlet-name>
		<url-pattern>/cookie</url-pattern>
	</servlet-mapping>
</web-app>